<!-- {
    "type":"Owner",
    "name":"Shyamal Kumar Das",
    "residents":[{"name":"Shyamal Kumar Das","phone":123},{"name":"Sonali Das","phone":345}],
    "parking":"Yes",
    "vehicle":[{"type":"car","registrationNumber":"abc"}],
    "registeredNumber":99234850,
    "roomNo":"A-307",
    "occupiedBy":"yes"
} -->

<div class="alert alert-success d-flex align-items-center alert-dismissible fade show" role="alert" *ngIf="success">
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:">
        <use xlink:href="#check-circle-fill" />
    </svg>
    <div>
        An example success alert with an icon
    </div>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" (click)="close()"></button>
</div>
<div class="form-style-5">
    <form [formGroup]="residentsForm" (ngSubmit)="submitForm()">
        <fieldset>
            <legend><span class="number">1</span> Resident Info</legend>
            <input type="text" placeholder="Your Name *" formControlName="name">
            <label for="members">Details of Members:</label>
            <div id="members" class="container" formArrayName="residents"
                *ngFor="let item of residents.controls;let i = index">
                <div class="row" [formGroupName]="i">

                    <div class="col-md-5">
                        <input type="text" formControlName="memberName" placeholder="Name *">
                    </div>
                    <div class="col-md-5">

                        <input type="text" formControlName="phoneNumber" placeholder="Phone Number *">
                    </div>
                    <div class="col-md-2">

                        <i class="fas fa-trash" (click)="delMember(i)"></i>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-success" (click)="addMoreMember()">Add More</button>
            <label for="status">Status:</label>
            <select id="status" formControlName="type">

                <option value="Owner">Owner</option>
                <option value="Tenant">Tenant</option>
            </select>
            <label for="parking">Do you own a parking spot?:</label>
            <select id="parking" formControlName="parking" (change)="selectedParking($event)">

                <option value="no">No</option>
                <option value="yes">Yes</option>
            </select>
            <div *ngIf="parkingDetails">
                <label for="vehicles">Details of Vehicles:</label>
                <div id="vehicles" class="container" formArrayName="vehicleList"
                    *ngFor="let item of vehicleList.controls;let i = index">
                    <div class="row" [formGroupName]="i">

                        <div class="col-md-5">
                            <input type="text" formControlName="vehicleType" placeholder="vehicle Type *">
                        </div>
                        <div class="col-md-5">

                            <input type="text" formControlName="vehicleNumber" placeholder="Vehicle Number *">
                        </div>
                        <div class="col-md-2">

                            <i class="fas fa-trash"  (click)="delVehicle(i)"></i>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-success" (click)="addMoreVehicle()">Add More</button>
            </div>
        </fieldset>
        <fieldset>
            <legend><span class="number">2</span> Additional Info</legend>
            <input type="text" placeholder="Registered Phone Number *" formControlName="registeredNumber">
            <input type="text" placeholder="Room Number *" formControlName="roomNo">
            <label for="occupiedBy">Will you Occupy the House?:</label>
            <select id="occupiedBy" formControlName="occupiedBy">

                <option value="no">No</option>
                <option value="yes">Yes</option>
            </select>
        </fieldset>
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>




<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
        <path
            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
    </symbol>
    
</svg>