<div class="login-page">
    <div class="form">
        <ng-template #templateName>
            <form class="register-form" [formGroup]="credentialForm" (ngSubmit)="signUpSubmit()">
                <input type="text" placeholder="email address" formControlName="email" />
                <input type="password" placeholder="password" formControlName="password" />
                <input type="password" placeholder="Confirm password" formControlName="confirmPass" />
                <button type="submit">create</button>
                <p class="message">Already registered? <a (click)="signUpPage()">Sign In</a>

                </p>
            </form>

        </ng-template>
        <div *ngIf="signUp;else templateName">

            <form class="login-form" (ngSubmit)="loginSubmit()" [formGroup]="credentialForm" >
                <input type="text" placeholder="username"  formControlName="email"/>
                <input type="password" placeholder="password" formControlName="password" />
                <button type="submit">login</button>
                <p class="message">Not registered? <a (click)="signUpPage()">Create an account</a></p>
            </form>
        </div>
    </div>
</div>
