<div class="alert alert-success d-flex align-items-center alert-dismissible fade show" role="alert" *ngIf="success">
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:">
        <use xlink:href="#check-circle-fill" />
    </svg>
    <div>
        Successfully Submitted
    </div>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" (click)="close()"></button>
</div>
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
        <path
            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
    </symbol>
    
</svg>
<form class="d-flex">
    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search by Room No" name="fetch"
        [(ngModel)]="key">
    <button class="btn btn-outline-success" type="submit" (click)="search()">Search</button>
</form>

<div class="form-style-5" *ngIf="searched">
    <form [formGroup]="detailsForm">
        <fieldset formGroupName="houseDetails">
            <legend><span class="number">1</span> House Info <span *ngIf="admin"><i class="fas fa-edit" (click)="changeHouseStructure()"></i></span> </legend>
            <label>Block:</label>
            <input type="text" placeholder="Block" formControlName="block" [readonly]="editInfo">
            <label>Room Number:</label>
            <input type="text" placeholder="Room Number" formControlName="roomNo" [readonly]="editInfo">
            <label for="members">House Type:</label>
            <div id="members" class="container" formGroupName="houseType">


                <div class="col-md-12">
                    Type of House:
                    <input type="text" formControlName="type" [readonly]="editInfo">
                </div>
                <div class="row">
                    <div class="col-md-6">
                        Number of Balcony:
                        <input type="text" formControlName="balcony" [readonly]="editInfo">
                    </div>
                    <div class="col-md-6">
                        Number of BathRooms:
                        <input type="text" formControlName="bathrooms" [readonly]="editInfo">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        Number of Floors :
                        <input type="text" formControlName="floors" [readonly]="editInfo">
                    </div>
                    <div class="col-md-6">
                        Number of rooms:
                        <input type="text" formControlName="rooms" [readonly]="editInfo">
                    </div>

                </div>


            </div>
            <button class="btn btn-success" *ngIf="!editInfo" (click)="saveInfo()"> SAVE</button>
        </fieldset>



        <fieldset formGroupName="owner" *ngIf="displayOwner">
            <legend><span class="number">2</span> Owner Info <span *ngIf="admin"><i class="fas fa-edit"
                        (click)="changeOwnerValues()"></i><i class="fas fa-trash" (click)="delOwner()"></i></span>
            </legend>
            <input type="text" placeholder="Your Name *" formControlName="name" [readonly]="editOwner">
            <label for="members">Details of Members:</label>
            <div id="members" class="container" formArrayName="residents"
                *ngFor="let item of ownerResidents.controls;let i = index">
                <div class="row" [formGroupName]="i">

                    <div class="col-md-5">
                        <input type="text" formControlName="memberName" placeholder="Name *" [readonly]="editOwner">
                    </div>
                    <div class="col-md-5">

                        <input type="text" formControlName="phoneNumber" placeholder="Phone Number *"
                            [readonly]="editOwner">
                    </div>
                    <div class="col-md-2">

                        <i class="fas fa-trash" *ngIf="!editOwner" (click)="delOwnerMember(i)"></i>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-success" *ngIf="!editOwner" (click)="addMoreOwnerMember()">Add
                More</button>



            <label for="parking">parking spot:</label>
            <input type="text" id="parking" formControlName="parking" [readonly]="editOwner">

            <label for="vehicles">Details of Vehicles:</label>
            <div id="vehicles" class="container" formArrayName="vehicleList"
                *ngFor="let item of ownerVehicleList.controls;let i = index">
                <div class="row" [formGroupName]="i">

                    <div class="col-md-5">
                        <input type="text" formControlName="vehicleType" placeholder="vehicle Type *"
                            [readonly]="editOwner">
                    </div>
                    <div class="col-md-5">

                        <input type="text" formControlName="vehicleNumber" placeholder="Vehicle Number *"
                            [readonly]="editOwner">
                    </div>
                    <div class="col-md-2">

                        <i class="fas fa-trash" *ngIf="!editOwner" (click)="delOwnerVehicle(i)"></i>
                    </div>
                </div>


            </div>
            <button type="button" class="btn btn-success" *ngIf="!editOwner" (click)="addMoreOwnerVehicle()">Add
                More</button>
            <label for="regNumber">Registered Phone Number:</label>
            <input id="regNumber" type="text" placeholder="Registered Phone Number *" formControlName="registeredNumber"
                [readonly]="editOwner">
            <label for="email">Email:</label>
            <input id="email" type="text" placeholder="Email *" formControlName="email"
                [readonly]="editOwner">
            <label for="rNum">Room Number:</label>
            <input id="rNum" type="text" placeholder="Room Number *" formControlName="roomNo" [readonly]=true>
            <button class="btn btn-success" *ngIf="!editOwner" (click)="saveOwner()">SAVE</button>
        </fieldset>


        <fieldset formGroupName="tenant" *ngIf="displayTenant">
            <legend><span class="number">3</span> Tenant Info <span *ngIf="admin"><i class="fas fa-edit"
                        (click)="changeTenantValues()"></i><i class="fas fa-trash" (click)="delTenant()"></i></span>
            </legend>
            <input type="text" placeholder="Your Name *" formControlName="name" [readonly]="editTenant">
            <label for="members">Details of Members:</label>
            <div id="members" class="container" formArrayName="residents"
                *ngFor="let item of tenantResidents.controls;let i = index">
                <div class="row" [formGroupName]="i">

                    <div class="col-md-5">
                        <input type="text" formControlName="memberName" placeholder="Name *" [readonly]="editTenant">
                    </div>
                    <div class="col-md-5">

                        <input type="text" formControlName="phoneNumber" placeholder="Phone Number *"
                            [readonly]="editTenant">
                    </div>
                    <div class="col-md-2">

                        <i class="fas fa-trash" *ngIf="!editTenant" (click)="delTenantMember(i)"></i>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-success" *ngIf="!editTenant" (click)="addMoreTenantMember()">Add
                More</button>



            <label for="parking">parking spot:</label>
            <input type="text" id="parking" formControlName="parking" [readonly]="editTenant">

            <label for="vehicles">Details of Vehicles:</label>
            <div id="vehicles" class="container" formArrayName="vehicleList"
                *ngFor="let item of tenantVehicleList.controls;let i = index">
                <div class="row" [formGroupName]="i">

                    <div class="col-md-5">
                        <input type="text" formControlName="vehicleType" placeholder="vehicle Type *"
                            [readonly]="editTenant">
                    </div>
                    <div class="col-md-5">

                        <input type="text" formControlName="vehicleNumber" placeholder="Vehicle Number *"
                            [readonly]="editTenant">
                    </div>
                    <div class="col-md-2">

                        <i class="fas fa-trash" *ngIf="!editTenant" (click)="delTenantVehicle(i)"></i>
                    </div>
                </div>

            </div>
            <button type="button" class="btn btn-success" *ngIf="!editTenant" (click)="addMoreTenantVehicle()">Add
                More</button>
            <label for="regNumber">Registered Phone Number:</label>
            <input id="regNumber" type="text" placeholder="Registered Phone Number *" formControlName="registeredNumber"
                [readonly]="editTenant">
            <label for="rNum">Room Number:</label>
            <input id="rNum" type="text" placeholder="Room Number *" formControlName="roomNo" [readonly]=true>
            <button type="submit" class="btn btn-success" *ngIf="!editTenant" (click)="saveTenant()">SAVE</button>
        </fieldset>

    </form>
</div>