<div class="alert alert-success d-flex align-items-center alert-dismissible fade show" role="alert" *ngIf="success">
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:">
        <use xlink:href="#check-circle-fill" />
    </svg>
    <div>
        Successfully Submitted
    </div>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" (click)="close()"></button>
</div>


<div class="form-style-5">
    <form [formGroup]="detailsForm" (ngSubmit)="submitForm()">
        <fieldset >
            <legend><span class="number">1</span> House Info</legend>
            <label>Block:</label>
            <input type="text" placeholder="Block" formControlName="block">
            <label>Room Number:</label>
            <input type="text" placeholder="Room Number" formControlName="roomNo">
            <label for="members">House Type:</label>
            <div id="members" class="container" formGroupName="houseType">


                <div class="col-md-12">
                    Type of House:
                    <select id="status" formControlName="type">

                        <option value="2BHK">2BHK</option>
                        <option value="3BHK">3BHK</option>
                        <option value="Duplex">Duplex</option>
                        <option value="Triplex">Triplex</option>
                    </select>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        Number of Balcony:
                        <input type="text" formControlName="balcony">
                    </div>
                    <div class="col-md-6">
                        Number of BathRooms:
                        <input type="text" formControlName="bathrooms">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        Number of Floors :
                        <input type="text" formControlName="floors">
                    </div>
                    <div class="col-md-6">
                        Number of rooms:
                        <input type="text" formControlName="rooms">
                    </div>

                </div>


            </div>
            <button type="submit" class="btn btn-success" > SAVE</button>
        </fieldset>
    </form>
</div>


<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
        <path
            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
    </symbol>
    
</svg>