<div class="cards">
    <h2 class="header">
        Search Result
    </h2>
    <div class="services container" *ngFor="let item of searchResult">
        


            <div class="content content-1" style="width: 18rem;">

                <h2>
                    {{item.hd.roomNo}}
                </h2>

                <h2>
                    {{item.hd.type}}
                </h2>
                <p>
                    Name: {{item.hd.name}}
                </p>
                <p>
                Contact Number: {{item.hd.registeredNumber}}
                </p>
                <a (click)="fetchDetails(item.hd.roomNo)">Read More</a>
                <a (click)="notification(item.hd.roomNo,item.hd.type)">Notify Package</a>
            </div>

        



    </div>
    <div *ngIf="searchResult.length==0">
        <h4>No results Found</h4>
    </div>
</div>
