<div class="container">
    <div class="row">
        <div class="col-sm-9">
            <router-outlet></router-outlet>
        </div>
        <div class="col-sm-3">


            <div class="card mb-4 rounded-3 shadow-sm" [routerLink]="['/houseDetails/fetchResidents']" routerLinkActive="router-link-active" >
                <div class="card-header py-3">
                    <h4 class="my-0 fw-normal">Search House Details</h4>
                </div>
                <div class="card-body">

                    <ul class="list-unstyled mt-3 mb-4">
                        <li>Shows the details of current residnet</li>
                        <li>Shows the house structure</li>
                        <li>Only admin can edit the details</li>
                    </ul>

                </div>
            </div>
            <div class="card mb-4 rounded-3 shadow-sm" [routerLink]="['/houseDetails/receiveNotification']" routerLinkActive="router-link-active" >
                <div class="card-header py-3">
                    <h4 class="my-0 fw-normal">Package Notifiaction</h4>
                </div>
                <div class="card-body">

                    <ul class="list-unstyled mt-3 mb-4">
                        <li>Check pending request</li>
                        <li>Accept or reject the request</li>
                        
                    </ul>

                </div>
            </div>
            <div class="card mb-4 rounded-3 shadow-sm" [routerLink]="['/houseDetails/monthlyBill']" routerLinkActive="router-link-active" >
                <div class="card-header py-3">
                    <h4 class="my-0 fw-normal">Pay Society Bill</h4>
                </div>
                <div class="card-body">

                    <ul class="list-unstyled mt-3 mb-4">
                        <li>Check pending request</li>
                        <li>Accept or reject the request</li>
                        
                    </ul>

                </div>
            </div>

            
        </div>
    </div>



</div>